@model CPRG214.Assignment2.Domain.Asset

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
    </dl>
</div>

<a asp-action="Index">Back to List</a>

