@model System.Collections.Generic.IEnumerable<CPRG214.Assignment2.AssetTracking.Models.AssetViewModel>
@{
}

<div class="scrollable-mobile-table container col-sm-12 mx-auto p-2 rounded" style="        background-color: rgba(226,234,235,.8)
">
    <table class="table mx-auto no-pad">
        <thead>
            <tr class="rounded th-logo-color">
                <th class="text-logo">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-logo">
                    @Html.DisplayNameFor(model => model.TypeName)
                </th>
                <th class="text-logo">
                    @Html.DisplayNameFor(model => model.TagNumber)
                </th>
                <th class="text-logo">
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th class="text-logo">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TagNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td width="130px">
                        @Html.ActionLink("Details", "Details", new { id=item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>